@import "vars";
@import "fonts";
@import "reset";
@import "global";

.todo {
  height: 100vh;
  padding: 50px 0;
  background: url(./../images/IrF.gif);

  &__box {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__inner {
    display: flex;
    flex-grow: 1;
    padding: 50px 0;
    @media (max-width: 768px) {
      flex-direction: column;
      padding: 20px 0;
    }
  }

  &__add {
    flex: 0 1 50%;
    padding: 20px;
    border: 2px solid yellow;
    border-radius: 10px 0 0 10px;
    @media (max-width: 768px) {
      border-radius: 10px 10px 0 0;
      padding: 10px;
    }
  }

  &__done {
    flex: 0 1 50%;
    padding: 20px;
    border: 2px solid yellow;
    border-left: 0px;
    border-radius: 0 10px 10px 0;
    @media (max-width: 768px) {
      border-top: 0px;
      border-left: 2px solid yellow;
      border-radius: 0 0 10px 10px;
      padding: 10px;
    }
  }

  &__form {
    text-align: center;
  }

  &__form-input {
    width: 400px;
    padding: 5px 10px;
    font-size: 16px;
    background: transparent;
    border-bottom: 2px solid yellow;
    color: #fff;
    @media (max-width: 768px) {
      width: 300px;
      text-align: center;
    }
  }

  &__form-btn {
    margin-left: 10px;
    font-weight: 700;
    padding: 7px 15px;
    background: yellow;
    color: #000;
    transition: background 0.3s ease;
    &:hover {
      background: rgba(255, 255, 0, 0.651);
    }
    @media (max-width: 768px) {
      margin-left: 0px;
      margin-top: 10px;
    }
  }
}

.list-add-item {
  display: flex;
  padding: 15px 15px;
  font-size: 20px;
  line-height: 1.2;
  cursor: default;
  @media (min-width: 768px) {
    &:hover {
      border: 2px solid yellow;
    }
  }
  @media (max-width: 768px) {
    border: 0px;
    padding: 5px 10px;
    font-size: 16px;
  }
  span {
    display: block;
    width: 100%;
  }
}

.title {
  font-size: 42px;
  line-height: 1.3;
  font-weight: 700;
  text-align: center;
  @media (max-width: 768px) {
    font-size: 32px;
  }
}
.todo-title {
  font-weight: 700;
  text-align: center;
  font-size: 28px;
  line-height: 1.3;
  @media (max-width: 768px) {
    font-size: 18px;
  }
}
.list-delete {
  visibility: hidden;
  opacity: 0;
}
.list-add-item:hover .list-delete {
  margin-left: 10px;
  opacity: 1;
  visibility: visible;
  background: transparent;
  color: #fff;
  font-size: 20px;
  transition: opacity 0.5s ease;
}
.list-done {
  visibility: hidden;
  opacity: 0;
}

.list-add-item:hover .list-done {
  opacity: 1;
  visibility: visible;
  display: block;
  width: 17px;
  height: 24px;
  background-color: transparent;
  background: url(./../images/done.svg) center / 17px no-repeat;
  transition: opacity 0.5s ease;
}

@media (max-width: 768px) {
  .list-delete {
    opacity: 1;
    visibility: visible;
    margin-left: 10px;
    background: transparent;
    color: #fff;
    font-size: 20px;
  }

  .list-done {
    opacity: 1;
    visibility: visible;
    display: block;
    width: 17px;
    height: 24px;
    background-color: transparent;
    background: url(./../images/done.svg) center / 17px no-repeat;
  }
}
